<div class="content d-flex" style="background-color: #FFF0F5; height: 100vh;">
    <div class="container">
      <div class="row">
        <app-sidenav class="col-2 colo rounded " style="width: 16%;">HELLO</app-sidenav>
          <div class="col-10 colo rounded" >
            <h1>Expense</h1>
          <div class="text-center vh-50 rounded d-flex align-items-center justify-content-center" style="height: 47px; background-color: #FFFFFF;">
            <b><span style="font-weight: bold;">Total expense for {{ selectedMonth }} &nbsp;: &nbsp;</span> {{ totalExpense }} </b>
            <br>
          </div>
           
        <div class="row">
          <div class="col-3  rounded vh-50"style="margin-top: 38px;" >
            
            <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
              
              <div class="form-Group">
                
                <select style="border: 2px solid #FFFFFF;
                box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);" class="form-control" formControlName="month" id="month" [(ngModel)]="selectedMonth" (change)="onChangeMonth()">
                  <option value="" disabled>Select Month</option>
                  <option *ngFor="let month of service.getMonths()" [value]="month">{{ month }}</option>
                </select>
              </div>
              <br>
              <div class="form-Group"></div>
              <div class="form-Group">
                <label for="type">Type of Expense</label>
                <select class="form-control" formControlName="type" id="type" style="border: 2px solid #FFFFFF;
                box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);">
                  <option value="" disabled>Select Type</option>
                  <option value="Rent">Rent</option>
                  <option value="Groceries">Groceries</option>
                  <option value="Utilities">Utilities</option>
                </select>
              </div>
              <br>
              <div class="form-Group"></div>
              <div class="form-Group">
                <label for="ref">Message</label>
                <textarea class="form-control" rows="2" formControlName="text" id="text"  placeholder="Enter Text "></textarea>
  
              </div>
              <div class="form-Group"></div>
              <div class="form-Group">
                <label for="amount">Amount:</label>
                <input  style="border: 2px solid #FFFFFF;
                box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);" type="number" formControlName="amount" id="amount" class="form-control" placeholder="Enter Amount">
              </div>
  
              <br>
              <div class=" row d-flex">
                <button type="submit" class=" col-4 btn btn-primary"><i class="bi bi-plus-circle-dotted"></i> Add</button>
                <div class="col-2"></div>
                <button class=" col-5 btn btn-primary" (click)="goBack()"> <i class="bi bi-arrow-left"></i> Back 
                </button>
              </div>
            </form>
          </div>
          <div class="col-9 ">
            <div>
              <h2 class="text-center">List of expenses for {{ selectedMonth }}</h2>
              <div class="table-wrapper">
                <div class=" mb-3 rounded " style="background-color: #FFFFFF; border: 2px solid #FFFFFF;
                box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);" *ngFor="let expense of expenses; let i = index">
                  <li><b>{{expense.type}}</b></li>
              
                  
                  <div class="d-flex justify-content-between">
                    <div>
                     <b><i class="bi bi-currency-rupee"></i></b> {{ expense.amount }} &nbsp; <b>|</b> &nbsp;
                   <b><i class="bi bi-calendar-event-fill"></i></b> {{ expense.month }} &nbsp; <b>|</b> &nbsp;
                    <b><i class="bi bi-chat-dots-fill"></i></b> {{ expense.text }} &nbsp; 
                   </div>
                   <div class="d-flex justify-content-between">
                    <button class="btn  btn-sm" (click)="editExpense(i)"><i class="bi bi-pencil-square"></i></button>
                    <button class="btn  btn-sm" (click)="deleteExpense(i)">X</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
    